# Flask
FLASK_SECRET_KEY=your-secret-key-here-change-this
FLASK_PORT=5000

# Web管理员
ADMIN_USER='user'
ADMIN_PWD='Pix@1234'

# Pixiv图片代理配置
PIXIV_PROXY_URL=https://i.pixiv.re

# MySQL Database
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=pixcollector
MYSQL_USER=root
MYSQL_PASSWORD=your-mysql-password
